<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>List of runs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Runs</h1>
	</div>
	<!-- <div class="col-md-4">
	</div> -->
		<h3 th:inline="text">Welcome to a custom admin page [[${#httpServletRequest.remoteUser}]]</h3>
		
	<!-- <div th:if="${#httpServletRequest.remoteUser != null}">
    <p th:text="${#httpServletRequest.remoteUser}"><br>
    </p>
    <p th:text="${#httpServletRequest.userPrincipal}">
    </p>
    <span sec:authentication="name">Bob</span>
     <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> -->
	
	
		<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/runninglist}" method="post">
			<input type="submit" value="Return to main page" class="btn btn-primary"/>
		</form>
	</div>
	
    <table class="table table-striped">
		<tr>
		    <th>Type</th>
		    <th>Distance</th>
		    <th>Date</th>
 			<th>Username</th>
		    <th sec:authorize="hasAuthority('ADMIN')"> </th>
		    <th></th> 
		</tr> 
		 
  <!--   	<tr th:if="${#httpServletRequest.remoteUser == run.user.username}" th:each = "run : ${runs}">
    		<td th:text="${run.type}"></td>
    		<td th:text="${run.distance}"></td>
    		<td th:text="${run.perfDay}"></td>
 				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${run.id})}" class="btn btn-danger">Delete</a></td> 
 				<td><a class="btn btn-success" th:href="@{/edit/{id}(id=${run.id})}">Edit</a></td> 
    	</tr> -->
    		<tr th:if="${#httpServletRequest.remoteUser == 'admin'}" th:each = "run : ${runs}">
    		<td th:text="${run.type}"></td>
    		<td th:text="${run.distance}"></td>
    		<td th:text="${run.perfDay}"></td>
    		<td th:text="${run.user.username}"></td>
 				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${run.id})}" class="btn btn-danger">Delete</a></td> 
 				<td><a class="btn btn-success" th:href="@{/adminedit/{id}(id=${run.id})}">Edit</a></td> 
    	</tr>
     </table>
     
      <table class="table table-striped">
      <tr>
		    <th>Total distance</th>
		    <th>Distance to goal</th>
		</tr>
     <tr th:if="${#httpServletRequest.remoteUser == user.username}" th:each = "user : ${users}"> 
    		<td th:text="${user.distTogether}"></td>
    		<td th:text="${100 - user.distTogether}"></td>
    	</tr>
    </table>	
     
     
	 <a class="btn btn-success" href="/adminadd">Add new run</a> 
	 <!--  <a class="btn btn-success" href="/username/">Add book</a> --> 
<div/>   	
</body>
</html>