<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>100k Challenge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<style>
  body {
    background-color: #f0ffff;
    font-family: "Goudy Bookletter 1911", sans-serif;
  }
</style> 
<body>

<header>
<div class="container">
		<h1>100k Challenge</h1>
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
	</div>
	</header>
	<div class="container">
	<div>
		<p>You can add and edit records of your own runs and track your progression towards the 100km goal! <br>
		The kilometres you run also count towards the 100 000 km goal of all users, tracked by the administrator!
		</p>
		<h5>Happy running!</h5>

	</div>
	
	
		<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	
	<span sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/adminlist}" class="btn btn-primary">Go to Admin Page</a></span>
<div>
<br>
</div>
    <table class="table table-striped">
		<tr>
		    <th>Type of the run</th>
		    <th>Distance</th>
		    <th>Date</th>
 			<th></th>
		    <th sec:authorize="hasAuthority('ADMIN')"> </th>
		    <th></th> 
		</tr> 
		 
    	<tr th:if="${#httpServletRequest.remoteUser == run.user.username}" th:each = "run : ${runs}">
    		<td th:text="${run.type}"></td>
    		<td th:text="${run.distance}"></td>
    		<td th:text="${run.perfDay}"></td>
    		<td></td>
 				<!-- <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${run.id})}" class="btn btn-danger">Delete</a></td>  -->
 				<td><a class="btn btn-success" th:href="@{/edit/{id}(id=${run.id})}">Edit</a></td> 
    	</tr>
<!--     		<tr th:if="${#httpServletRequest.remoteUser == 'admin'}" th:each = "run : ${runs}">
    		<td th:text="${run.type}"></td>
    		<td th:text="${run.distance}"></td>
    		<td th:text="${run.perfDay}"></td>
    		<td th:text="${run.user.username}"></td>
 				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${run.id})}" class="btn btn-danger">Delete</a></td> 
 				<td><a class="btn btn-success" th:href="@{/edit/{id}(id=${run.id})}">Edit</a></td> 
    	</tr> -->
     </table>
     
      <table class="table table-striped">
      <tr>
		    <th>Total distance (km)</th>
		    <th>Distance to goal (km)</th>
		    <th></th>
		</tr>
     <tr th:if="${#httpServletRequest.remoteUser == user.username}" th:each = "user : ${users}"> 
    		<td th:text="${user.distTogether}"></td>
    		<td th:text="${100 - user.distTogether}"></td>
    	</tr>
    </table>	
     
     
	 <a class="btn btn-success" href="/add">Add new run</a> 
	 <!--  <a class="btn btn-success" href="/username/">Add book</a> --> 

</div>	
</body>
</html>